
Django==6.0.4
djangorestframework==3.17.1
djoser==2.3.4
djangorestframework-simplejwt==5.5.1
drf-jsonschema==0.2.2
drf-spectacular==0.30.0
gunicorn==23.0.0
psycopg2-binary==2.9.10
django-environ==0.11.2
django-ratelimit==4.1.0
django-redis==5.4.0
django-extensions==4.1
pytest==9.1.1
pytest-django==4.14.0
pytest-cov==7.1.0
factory_boy==3.3.3
Faker==40.36.0
whitenoise==6.12.0